.menuPage{
    margin-top: -25px;
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    z-index: 11;
    @media(max-width: 990px){
        margin-top: -35px;
        display: none;
        width: 245px;
    }
    .listElements{
        display: flex;
        justify-content: center;
        @media(max-width: 990px){
            display: grid;
        }
        li{
            padding: 20px 27px 16px;
            background-color: white;
            font-size: 17px;
            font-weight: 500;
            cursor: pointer;
            @media(max-width: 990px){
                order: 2;
            }
        }

        li.active{
            background-color: #efefef;
            @media(max-width: 990px){
                order: 1;
            }
        }

        li:hover{
            background-color: #efefef;
        }
    }
}

.menuPage.active{
    display: block;
}

.selectedMobile{
    display: none;
    @media(max-width: 990px){
        display: flex;
        justify-content: space-between;
        padding: 20px 10px 16px 27px;
        background-color: #efefef;
        margin-top: -35px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 12;
        font-size: 17px;
        font-weight: 500;
        width: 245px;
        align-items: center;

        svg{
            margin-left: auto;
            width: 10px;
        }
    }
}