.etapasViewSection{
    max-width: 1320px;
    margin: auto;
    width: 100%;
    padding: 0px 36px 80px;
    li:last-child{
        .line{
            height: 0;
        }
    }
    li{
        margin-bottom: 50px;
        position: relative;
        display: flex;
        gap: 100px;
        align-items: center;
        @media(max-width: 990px){
            display: block;
            margin-bottom: 100px;
        }
        .line{
            width: 40px;
            height: calc(100% + 10px);
            background-color: var(--color-white);
            position: absolute;
            left: 300px; 
            top: 40px;
        }

        .totalCircle{
            position: relative;
            margin-bottom: 40px;
        }

        .circleBig{
           width: 300px; 
        }

        .circle{
            position: absolute;
            top: 50%;
            left: -50px;
            transform: translateY(-50%);
        }


    }

    .line:before{
        content: "";
        width: 40px;
        height: calc(100% + 10px);
        background-color: var(--color-white);
        position: absolute;
        left: 0px; 
        top: -40px;
    }

    h2{
        font-size: 45px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        margin-bottom: 50px;
        width: 300px;
        @media(max-width: 990px){
            font-size: 36px;
            line-height: 1.11;
        }
    }
    h3{
        display: flex;
        font-size: 35px;
        font-weight: 500;
        line-height: 1.29;
        align-items: center;
        color: var(--color-red);
        margin-bottom: 10px;
        @media(max-width: 990px){
            font-size: 24px;
            line-height: 1.11;
        }
        img{
            margin-right: 12px;
            width: 55px;
            height: 55px;
        }
    }

    p{
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
        @media(max-width: 990px){
            font-size: 16px;
            line-height: 1.5;
        }
    }
}