.overflow-hidden {
  overflow: hidden;
}

.color-white {
  color: var(--color-white);
}

.color-black {
  color: var(--color-black);
}

.uppercase {
  text-transform: uppercase;
}

.searchContent{
  margin-top: 200px;
}

@media(max-width: 990px){
  .swiper-button-next, .swiper-button-prev {
    top: unset !important;
    bottom: 17px !important;
  }
}