.text-16 {
  font-size: px(14);
  line-height: calc(18 / 16);
  
  @include responsive('sm') {
    font-size: px(16);
  }

  &.hold {
    font-size: px(16);
  }
}

.text-14 {
  font-size: px(12);
  line-height: calc(15 / 12);
  
  @include responsive('sm') {
    line-height: calc(15 / 14);
    font-size: px(14);
  }

  &.hold {
    line-height: calc(15 / 14);
    font-size: px(14);
  }

  &.reverse {
    font-size: px(16);
    line-height: calc(18 / 16);

    @include responsive('sm') {
      line-height: calc(15 / 14);
      font-size: px(14);
    }
  }
}