.contentQue{
    max-width: 1320px;
    margin: auto;
    padding: 119px 36px 78px;
    width: 100%;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;

    .bodyText{
        width: 70%;
        margin-bottom: 21px;
        margin-top: 21px;
    }


}

.logosSection{
    max-width: 1320px;
    margin: auto;
    padding: 18px 36px;
      
}